html, body, #root {
    height: 100%;
}

head {
    padding: 0 auto;
    margin: 0 auto;
}

html {
    top: 0;
    bottom: 0;
}

body {
    margin: 0 auto;
    padding: 0 auto;
    display: block;
    font-family: Segoe UI, Segoe, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
}

* {
    margin: 0;
    padding: 0;
}