.sample-list {
    flex: 0 1 15%;
    padding: 10px 0 10px 0;
    border-right: aliceblue 1px solid;
}

.sample-list-inner {
    padding: 0 5px 10px 10px;
    margin: 10px auto;
    line-height: 9px;
}

.add-sample {
    background-color: #f9f7f7;
    display: block;
    margin: 0 10px 10px 0;
    position: relative;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    line-height: 1;
}

.add-sample-input {
    padding: 12px 10px;
    display: block;
    text-align: left;
    color: #112d4e;
    cursor: pointer;
    position: relative;
    z-index: 2;
    transition: color 200ms ease-in;
    overflow: hidden;
    border-radius: 5px;
    line-height: 100%;
    background: transparent;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    max-width: 90%;
}

hr {
    margin: 0 10px 10px 0;
}