.app {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100vh;
    /*background-color: #f9f7f7;*/
}

.main-page {
    flex: 1;
    -ms-flex:1;
    display: flex;
    display: -webkit-flex;
}